html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common */
* body {
  background: #fff;
  width: 100%;
  color: #000;
}
* .container {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  /* outline: red 1px solid; */
}
* .subTitle {
  font-size: 3rem;
  letter-spacing: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
  border-color: hsl(200deg, 70%, 30%);
  display: inline-block;
  color: hsl(200deg, 70%, 30%);
  margin-bottom: 50px;
}
* a {
  text-decoration: none;
  color: inherit;
  display: block;
}
* .text {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  color: black;
  line-height: 1.7rem;
}
* img {
  width: 100%;
  vertical-align: bottom;
}
* .tt {
  font-size: 2.5rem;
  color: hsl(200deg, 70%, 30%);
  text-align: center;
  font-weight: 400;
  letter-spacing: 3px;
}
* .hovA {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  line-height: 48px;
  text-align: center;
  font-size: 20px;
  display: block;
  color: #fff;
  z-index: 10;
  text-align: center;
}
* .hovA:before {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 0;
  height: 2px;
  display: block;
  background: #fff;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
* .hovA:hover:before {
  width: 100%;
}

.portfolio .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  color: hsl(240deg, 30%, 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  border-bottom: #fff 1px solid;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio .header:hover {
  border: none;
  background-color: hsl(200deg, 70%, 30%);
}
.portfolio .header .logo img {
  width: 70px;
  color: #fff;
}
.portfolio .header .logo a {
  display: block;
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .header .logo a:hover {
  opacity: 0.7;
}
.portfolio .header .navBtn {
  display: none;
}
.portfolio .header .navWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 3px;
  font-weight: 900;
}
.portfolio .header .navItem {
  padding: 20px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.portfolio .header .navA::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 2;
  background: rgb(255, 255, 255);
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform cubic-bezier(0.8, 0, 0.2, 1) 0.6s;
  transition: -webkit-transform cubic-bezier(0.8, 0, 0.2, 1) 0.6s;
  transition: transform cubic-bezier(0.8, 0, 0.2, 1) 0.6s;
  transition: transform cubic-bezier(0.8, 0, 0.2, 1) 0.6s, -webkit-transform cubic-bezier(0.8, 0, 0.2, 1) 0.6s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.portfolio .header .navA:hover::before {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio .header .nav .active span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.portfolio .header .nav .active span:nth-child(2) {
  opacity: 0;
}
.portfolio .header .nav .active span:nth-child(3) {
  top: -8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.portfolio .header .nav .active.navWrap {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.portfolio .header .nav .active.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 20;
}
.portfolio .scroll-nav {
  background: hsl(200deg, 70%, 30%);
  border: none;
}
@media (max-width: 768px) {
  .portfolio .header {
    padding: 0;
  }
  .portfolio .header .logo {
    margin-left: 25px;
  }
  .portfolio .header .nav {
    position: relative;
    display: block;
    margin: 0;
    z-index: 1001;
  }
  .portfolio .header .navBtn {
    display: block;
    width: 60px;
    height: 30px;
    position: absolute;
    right: 0;
    top: -30px;
    padding: 15px 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 21;
  }
  .portfolio .header .navBtn:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .portfolio .header .navBtn span {
    width: 25px;
    height: 2px;
    background: #ddd;
    position: relative;
    -webkit-transition: ease 0.4s;
    transition: ease 0.4s;
    display: block;
    z-index: 50;
  }
  .portfolio .header .navBtn span:nth-child(1) {
    top: 6px;
    left: 15px;
  }
  .portfolio .header .navBtn span:nth-child(2) {
    margin: 5px 15px;
    top: 6px;
  }
  .portfolio .header .navBtn span:nth-child(3) {
    top: 6px;
    left: 15px;
  }
  .portfolio .header .navWrap {
    display: block;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    position: absolute;
    right: 0;
    top: 40px;
    height: 100vh;
    min-width: 200px;
    max-width: 400px;
    overflow: auto;
    background: hsl(200deg, 70%, 40%);
    z-index: 21;
  }
  .portfolio .header .navItem {
    display: block;
  }
  .portfolio .header .nav .active span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .portfolio .header .nav .active span:nth-child(2) {
    opacity: 0;
  }
  .portfolio .header .nav .active span:nth-child(3) {
    top: -2px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .portfolio .header .nav .active.navWrap {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .portfolio .header .nav .active.overlay {
    position: fixed;
    top: 80px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 120%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20;
  }
}

.portfolio #hero {
  width: 100%;
  position: relative;
  color: #fff;
}
.portfolio #hero .videoArea {
  width: 100%;
  height: 100vh;
}
.portfolio #hero .videoArea .video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
}
.portfolio #hero .textArea {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio #hero .textArea .name {
  font-size: 3rem;
  opacity: 0.9;
  letter-spacing: 2px;
}
.portfolio #hero .textArea .sns {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.portfolio #hero .textArea a {
  font-size: 1.5rem;
  padding: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.portfolio #hero .textArea a:hover {
  opacity: 0.7;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.portfolio #hero .title {
  position: absolute;
  top: 70%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  right: 10%;
  font-size: 3rem;
  opacity: 0.9;
  letter-spacing: 3px;
}
@media (max-width: 480px) {
  .portfolio #hero .textArea {
    top: 30%;
    display: block;
  }
}

.portfolio .worksWrapper {
  text-align: center;
  margin: 100px auto;
  width: 60%;
}
.portfolio .worksWrapper .tt {
  margin-bottom: 50px;
}
.portfolio .worksWrapper_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.portfolio .worksWrapper_sliderWork {
  position: relative;
}
.portfolio .worksWrapper_sliderWork:hover .textArea {
  background: #eee;
}
.portfolio .worksWrapper_sliderWork:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.portfolio .worksWrapper_sliderWork .imgArea {
  overflow: hidden;
}
.portfolio .worksWrapper_sliderWork .imgArea img {
  width: 400px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .worksWrapper_sliderWork .titleArea {
  position: absolute;
  top: 157px;
  padding: 15px;
  background: hsl(200deg, 70%, 60%);
  color: #fff;
  font-size: 0.8rem;
}
.portfolio .worksWrapper_sliderWork .textArea {
  border: 1px solid #bbb;
  height: 200px;
}
.portfolio .worksWrapper_sliderWork .textArea p {
  padding: 30px;
  letter-spacing: 1px;
  line-height: 1.3rem;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: left;
}
.portfolio .worksWrapper_slider .prev,
.portfolio .worksWrapper_slider .next {
  position: absolute;
  display: inline-block;
  top: 50%;
  background: rgb(255, 255, 255);
  color: #bbb;
  font-size: 2rem;
  z-index: 30;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .worksWrapper_slider .prev {
  left: -50px;
}
.portfolio .worksWrapper_slider .next {
  right: -50px;
}
.portfolio .worksWrapper_slider .prev:hover,
.portfolio .worksWrapper_slider .next:hover {
  opacity: 0.5;
}
@media (max-width: 1240px) {
  .portfolio .worksWrapper {
    width: 80%;
  }
  .portfolio .worksWrapper_sliderWork .textArea p {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .portfolio .worksWrapper {
    width: 100%;
    overflow: hidden;
  }
}
@media (max-width: 460px) {
  .portfolio .worksWrapper_sliderWork .titleArea {
    top: 175px;
    padding: 8px;
    font-size: 0.6rem;
  }
  .portfolio .worksWrapper_sliderWork .textArea p {
    letter-spacing: 0px;
    line-height: 1rem;
    font-size: 0.7rem;
    padding: 5px;
  }
}

.portfolio {
  /* about */
}
.portfolio .portfolio__about_Wrapper {
  margin: 0 auto;
  width: 100%;
  height: 90vh;
  text-align: center;
  background-color: hsl(200deg, 70%, 25%);
  color: #fff;
}
.portfolio .portfolio__about_Wrapper .subTitle {
  color: #fff;
  margin-top: 50px;
  border-color: #fff;
}
.portfolio .portfolio__about_content {
  position: relative;
}
.portfolio .portfolio__about_img {
  width: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
}
.portfolio .portfolio__about_text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.7rem;
  font-weight: 200;
  -moz-text-align-last: left;
       text-align-last: left;
  letter-spacing: 1px;
}
.portfolio .portfolio__about_textWrapper {
  position: absolute;
  top: 150px;
  left: 20px;
  z-index: 5;
  margin-top: 30px;
  width: 50%;
  padding: 50px;
  background-color: hsl(200deg, 70%, 25%);
  background-color: hsl(200deg, 70%, 30%);
}
.portfolio .portfolio__about_textName {
  font-weight: normal;
  font-size: 20px;
}
@media (min-width: 1201px) {
  .portfolio .portfolio__about_Wrapper {
    height: 850px;
  }
  .portfolio .portfolio__about_textWrapper {
    top: 180px;
  }
  .portfolio .portfolio__about_img {
    width: 45%;
    top: 0px;
  }
}
@media (max-width: 1200px) {
  .portfolio .portfolio__about_img {
    width: 40%;
    top: -200px;
    right: 75px;
  }
  .portfolio .portfolio__about_text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.2;
  }
  .portfolio .portfolio__about_textWrapper {
    position: static;
    margin: 170px auto 0 0;
    width: 60%;
  }
  .portfolio .portfolio__about_textName {
    position: absolute;
    left: 30px;
  }
}
@media (max-width: 768px) {
  .portfolio .portfolio__about_Wrapper {
    height: 120vh;
  }
  .portfolio .portfolio__about_img {
    position: static;
    margin: 0 auto;
    width: 72vw;
  }
  .portfolio .portfolio__about_textWrapper {
    margin: 0 auto;
  }
  .portfolio .portfolio__about_textName {
    position: static;
  }
}
@media (max-width: 480px) {
  .portfolio .portfolio__about_Wrapper {
    height: 900px;
  }
  .portfolio .portfolio__about_img {
    width: 79vw;
  }
  .portfolio .portfolio__about_textName {
    position: absolute;
    left: 76px;
    font-size: 4vw;
  }
}

.portfolio .portfolio_skills {
  padding-top: 100px;
  text-align: center;
  height: 600px;
  background-image: url(../img/back-img_html.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio .portfolio_skills .subTitle {
  color: #fff;
  border-color: #fff;
}
.portfolio .portfolio_skills_list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio .portfolio_skills_listItem {
  border-radius: 5px;
  width: 20%;
  height: 120px;
  min-width: 150px;
  font-size: 4rem;
  background: rgba(255, 255, 255, 0.687);
  color: #2a6e8f;
  padding-top: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  -webkit-box-shadow: 5px 5px 3px #111;
          box-shadow: 5px 5px 3px #111;
  position: relative;
}
.portfolio .portfolio_skills_listText {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
}
.portfolio .portfolio_skills_listNote {
  font-size: 0.8rem;
  position: absolute;
  top: 5px;
  right: 10px;
}
@media (max-width: 600px) {
  .portfolio .portfolio_skills {
    height: 700px;
  }
}

.portfolio .portfolio__contact_wrapper {
  text-align: center;
  margin-top: 100px;
}
.portfolio .portfolio__contact_listItem {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio .portfolio__contact_list a {
  width: 60%;
  border: 2px solid #ddd;
  padding: 10px;
  margin: 30px auto;
  color: #2a6e8f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .portfolio__contact_list a:hover {
  background-color: #2a6e8f;
  color: #fff;
}
.portfolio .portfolio__contact_listIcon {
  font-size: 1.5rem;
}
.portfolio .portfolio__contact_listText {
  margin-top: 5px;
  font-weight: 600;
}

.portfolio .footer_wrapper {
  margin-top: 150px;
  height: 200px;
  position: relative;
  background-color: hsl(0deg, 0%, 10%);
  overflow: hidden;
}
.portfolio .footer_logo {
  width: 35vw;
  min-width: 500px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  top: -8vw;
  left: 10%;
}
.portfolio .footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 50px;
  margin: 70px auto 0;
  opacity: 0.6;
}
.portfolio .footer_copyright {
  color: #fff;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.8rem;
}