@media(max-width: 420px) {
  .navWrapper .topBtn {
    position: fixed;
    right: 15px;
    bottom: 50px;
    border: 1px solid #fff;
  }

  .navWrapper .nav {
    gap: 1px;
    margin: 0 auto;
  }

  header ul {
    gap: 2px;
  }
}